@charset "utf-8";

/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, menu {
  margin: 0;
  padding: 0;
}

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
  font-weight: normal;
}

html, body, fieldset, img, iframe, abbr {
  border: 0;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

[hidefocus], summary {
  outline: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
}

sup, sub {
  font-size: 83%;
}

pre, code, kbd, samp {
  font-family: inherit;
}

q:before, q:after {
  content: none;
}

textarea {
  overflow: auto;
  resize: none;
}

label, summary {
  cursor: default;
}

a, button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, em, strong, b {
  font-weight: bold;
}

del, ins, u, s, a, a:hover {
  text-decoration: none;
}

body {
  background: #fff;
}

// Drop shadows
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
  box-shadow: @shadow;
}

@mainColor: #E13335;
@mainLinkColor: #666;
@mainLinkHoverColor: #E13335;
@boxBottomLineColor: #AAA;
@textColor: #666;
@borderColor: #DDDDDD;

@borderRadius: 4px;

a{color:@textColor}
a:hover{color:@mainLinkHoverColor}

p.indent {
  text-indent: 2em;
}

.m-text-color{
color:@mainColor
}

#toTop {
  position: fixed;
  bottom: 160px;
  right: 15px;
  cursor: pointer;
  display: none;
  width: 55px;
  height: 55px;
  background-image: url(/img/gotop.gif);
  background-repeat: no-repeat;
}

body {
  padding-top: 70px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
  //font-family: "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
  //font: 12px/150% Arial,Verdana,"宋体";
  //font-family:"Microsoft YaHei",Arial;-webkit-text-size-adjust:none;color:#333;
}

.container {
  max-width: none !important;
  width: 1220px;
  //background-color: #000;
}

.nav-logo, .weixin {
  background: url("/img/sprite.png") no-repeat scroll -9999px -9999px transparent;
}

.nav-logo {
  background-position: 0 0;
  display: inline-block;
  float: left;
  height: 39px;
  width: 156px;
  margin-top: 3px;
  margin-right: 10px;
  text-indent: -9999px;
}

a:active {
  outline: none;
}

a:focus {
  outline: none;
  -moz-outline: none;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="submit"]:focus textarea:focus {
  outline: 0 none;
}

textarea {
  border: 0 none;
  outline: 0 none;
  overflow: auto;
  resize: none;
}

.main-box:after, .tp:after, .ct:after, .box .box-content:after, .panel-heading:after,.brand-bimg-box:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.main-box {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  .box-shadow(0 1px 1px rgba(0,0,0,.05));
  margin-bottom: 20px;
}

.main-box-1 {
  padding: 10px;
}

.main-box .banner {
  float: left;
  width: 700px;
}

.main-box .slider {
  float: right;
  width: 455px;
}

.main-box .mn {
  height: 145px;
}

#topBanner {
  width: 700px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#topBanner ul {
  height: 300px;
  position: absolute;
}

#topBanner ul li {
  float: left;
  width: 700px;
  height: 300px;
  overflow: hidden;
  position: relative;
  background: #000;
}

#topBanner ul li div {
  position: absolute;
  overflow: hidden;
}

#topBanner .slider-btn-bg {
  position: absolute;
  width: 700px;
  height: 20px;
  left: 0;
  bottom: 0;
  background: #000;
}

#topBanner .slider-btn {
  position: absolute;
  right: 5px;
  bottom: 0;
  text-align: right;
}

#topBanner .slider-btn span {
  display: inline-block;
  _display: inline;
  _zoom: 1;
  width: 25px;
  height: 10px;
  _font-size: 0;
  margin-left: 5px;
  cursor: pointer;
  background: #fff;
}

#topBanner .preNext {
  width: 45px;
  height: 100px;
  position: absolute;
  top: 90px;
  background: url(../img/slider-btns.png) no-repeat 0 0;
  cursor: pointer;
}

#topBanner .pre {
  left: 0;
}

#topBanner .next {
  right: 0;
  background-position: right top;
}

.m-box {
  margin-bottom: 20px;
}

.m-box .tp {
  border-bottom: 2px solid @boxBottomLineColor;
}

.m-box .tit {
  float: left;
  height: 24px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 18px;
  width: 200px;
}

.m-box-1 {
  margin-top: 10px;
}

.m-box .tag ul {
  float: right;
}

.m-box .tag li {
  float: left;
  margin-left: 18px;
}

.m-box .ct {
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  border-width: 0 1px 1px;
  padding: 12px;
}

.m-tab {
  background: none repeat scroll 0 0 #F7F7F7;
  border-bottom: 1px solid #DBDBDB;
  height: 40px;
}

.m-tab .tblist {
  margin: 0 auto;
  position: relative;
}

.m-tab li {
  float: left;
}

.search-box {
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  padding: 12px;
  margin-bottom: 15px;
}

@txtWidth: 245px;
@tabHeight: 40px;
.m-tab .txt1 {
  color: #333333;
  display: block;
  font-size: 14px;
  height: @tabHeight;
  line-height: @tabHeight;
  text-align: center;
  width: @txtWidth;
}

.m-tab .txt1:hover {
  color: @mainColor;
  text-decoration: none;
}

.m-tab .txt1-active {
  color: @mainColor;
}

.m-tab .bdr {
  border-left: 1px solid #DBDBDB;
  float: left;
  height: 12px;
  margin-top: 15px;
  overflow: hidden;
}

.m-tab .rline {
  background: none repeat scroll 0 0 @mainColor;
  bottom: -(@tabHeight+1);
  height: 2px;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: @txtWidth;
}

.m-tab-c {
  padding: 12px 10px 12px 14px;
}

.brands li {
  float: left;
  margin: 5px 10px;
  position: relative;
}

.brands li .brand-name {
  color: @mainLinkColor;
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  width: 128px;
}

.brands li .brand-name a {
  color: @mainLinkColor;
}

.brands li .brand-name a:hover {
  color: @mainColor;
}

.brands li .brand-img {
  width: 128px;
  height: 100px;
  background-color: #FFF;
  position: relative;
}

.brands li .img-overflow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  cursor: pointer;
  color: #f00;
  width: 139px;
  height: 91px;
  display: none;
  z-index: 1;
}

.brands li .img-overflow .tools {
  text-align: center;
  margin: 5px 0;
}

.brands li .info .price {
  color: @mainColor;
}

.brands li .brand-tp {
  padding: 5px 8px;
  border: 1px solid #DBDBDB;
  position: relative;
}

.brands li .brand-tp-hover {
  border: 1px solid #777;
}

.brands li .brand-bt {
  padding: 2px 5px;
}

.brands li .info {
  width: 100%;
}

.foot-nav {
  border-top: 1px solid #DDD;
  padding-top: 10px;
  font-size: 12px;
  background: #fff;
}

.foot-nav a {
  //color: #666;
}

.foot-nav a:hover {
  //color: #fff;
}

.foot-nav ul {
  padding: 0;
  margin: 0;
}

.foot-nav ul li {
  color: #777777;
  margin-bottom: 10px;
  list-style: none;
}

/*------------------------------------*\
Light Theme Styles
\*------------------------------------*/
.light-theme {
  display: block;
  overflow: hidden;
  padding: 0 5px 5px 0;
}

.light-theme a,
.light-theme span {
  float: left;
  color: #666;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  border: 1px solid #BBB;
  min-width: 14px;
  padding: 0 7px;
  margin: 0 5px 0 0;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: #efefef;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #efefef));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #efefef 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #efefef 100%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #efefef 100%);
  /* IE10+ */

  background: linear-gradient(top, #ffffff 0%, #efefef 100%);
  /* W3C */

}

.light-theme a:hover {
  text-decoration: none;
  background: #FCFCFC;
}

.light-theme .current {
  background: #666;
  color: #FFF;
  border-color: #444;
  box-shadow: 0 1px 0 #ffffff, 0 0 2px rgba(0, 0, 0, 0.3) inset;
  cursor: default;
}

.light-theme .ellipse {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-weight: bold;
  cursor: default;
}

/* table ========================================================================*/
.table th,
.table td {
  border-top: 1px solid #DDDDDD;
  line-height: 20px;
  padding: 5px;
  text-align: left;
  vertical-align: middle;
}

.table th {
  padding: 8px 5px;
}

th,
td,
.table-bordered {
  border-radius: 0 0 0 0 !important;
}

.table thead:first-child tr {
  background: linear-gradient(to bottom, #f8f8f8, #ececec) repeat-x scroll 0 0 #f3f3f3;
  color: #707070;
  font-weight: normal;
}

.table thead:first-child tr th {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #DDDDDD;
  border-image: none;
  border-style: solid;
  border-width: 0 1px;
  font-weight: bold;
}

.table thead:first-child tr th [class*="icon-"]:first-child {
  margin-right: 2px;
}

.table thead:first-child tr th:first-child {
  border-left-color: #F1F1F1;
}

.table.table-bordered thead:first-child tr th {
  border-color: #DDDDDD;
  border-width: 0 0 0 1px;
  vertical-align: middle;
}

.table.table-bordered thead:first-child tr th:first-child {
  border-left-color: #DDDDDD;
}

.table.table-hover tbody tr:hover td {
  background-color: #F1F1F1;
}

th.center,
td.center {
  text-align: center;
}

.brand-bimg-box {
  border: 1px solid #e3e3e3;
  background-color: #fff;
  border-radius: 6px;
  padding: 10px;
  width: 320px;
  height: 200px;
  

}

.box_txt {
  color: @textColor;
  line-height: 25px;
  margin-bottom: 20px
}

.box_txt h4 {
  color: @textColor;
  border-bottom: 1px solid #DDDDDD;
  font-size: 16px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.pointer {
  cursor: hand;
  cursor: pointer;
}

.box {
  margin-bottom: 20px;
}

.box-header {
  border-bottom: 1px solid #dddddd;
  border: 1px solid #DDDDDD;
  border-radius: @borderRadius @borderRadius 0 0;
  box-shadow: none;
  margin-bottom: -1px;
  overflow: hidden;
  padding: 8px 10px;
  background-color: #f5f5f5;
  color: #333333;
}

.box-header h2 {
  color: #646464;
  float: left;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  margin-top: 2px;
  text-shadow: 0 1px 0 #FFFFFF;
}

.box-header-1 {
  padding: 12px 10px;
}

.box-header-1 h2 {
  color: @mainLinkColor;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
}

.box-icon {
  float: right;
  margin-top: 1px;
}

.box-content {
  padding: 10px;
  line-height: 25px;
  background: none repeat scroll 0 0 #FCFCFC;
  border: 1px solid #DDDDDD;
  border-radius: 0 0 @borderRadius @borderRadius;
  .box-shadow(0 1px 1px rgba(0,0,0,.05));
  margin-top: -1px;
}

.box-content-1 {
  background: none repeat scroll 0 0 #FFFFFF;
}

#wenda-list {
  margin-top: 10px;
  margin-bottom: 20px;
}

#wenda-list li {
  overflow: hidden;
  padding-left: 10px;
  height: 28px;
  line-height: 28px;
  height: 28px;
}

#wenda-list .wendaType {
  float: left;
  font-weight: bold;
}

#wenda-list h3 {
  float: left;
  line-height: 28px;
  font-weight: normal;
  width: 550px;
  overflow: hidden;
}

#wenda-list .date {
  float: right;
}

#wenda-list .stat {
  float: right;
  padding-right: 20px;
}

#wenda-list .stat em {
  color: #EE472C;
  padding-right: 2px;
  font-weight: normal;
}

.wenda-footer,.wenda-reply-footer {
  text-align: right;
}

.wenda-footer span,.wenda-reply-footer span {
  padding-left: 10px;
}

.wenda-content {
  line-height: 25px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.help-block-hide {
  display: none;
  margin-bottom: 0;
}

.home-top-small-ad {
  height: 30px;
}

#niusb-news .tp {
  padding: 5px;
  border-bottom: 1px solid @borderColor;
  padding-top: 15px;
}

#niusb-news .tp .tit {
  float: left;
  font-size: 14px;
}

#niusb-news .tag {
  font-siz: 13px;
  float: right;
}

#niusb-news ul {
  width: 455px;
  height: 100px;
  overflow: hidden;
  padding: 5px 0;
}

#niusb-news li {
  float: left;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  padding: 0 10px;
  width: 225px;
  color: #999;
}

#niusb-news li.odd {
  border-right: 1px solid @borderColor;
}

#niusb-news li a {
  color: #999;
}

#niusb-news li a:hover {
  color: @mainLinkHoverColor;
}

.panel-brand {
  border-color: #dddddd;
}

.panel-brand > .panel-heading {
  color: #646464;
  background-color: #f5f5f5;
  border-color: #dddddd;
  padding: 12px 12px 8px 12px;
}

.panel-brand > .panel-heading h2 {
  float: left;
  font-size: 16px;
  text-shadow: 0 1px 0 #FFFFFF;
}

.panel-brand > .panel-heading > .tag {
  float: right;
}

.panel-brand > .panel-body {
  padding: 10px 5px 10px 12px;
}

.panel-brand > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #dddddd;
}

.panel-brand > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #dddddd;
}

.panel-kefu {
  border-color: #dddddd;
}

.panel-kefu > .panel-heading {
  color: #646464;
  background-color: #f5f5f5;
  border-color: #dddddd;
  padding: 12px 12px 8px 12px;
}

.panel-kefu > .panel-heading h2 {
  float: left;
  font-size: 16px;
  text-shadow: 0 1px 0 #FFFFFF;
}

.panel-kefu > .panel-heading .tel {
  margin-left: 30px;
  margin-top: -10px;
}

.panel-kefu > .panel-body {
  padding: 10px 5px 10px 12px;
}

.panel-kefu > .panel-body li {
  padding: 5px;
}

.panel-kefu > .panel-body li .qq {
  padding: 5px;
  font-size: 12px;
}

.panel-kefu > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #dddddd;
}

.panel-kefu > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #dddddd;
}

#niusb-kefu .tp {
  padding: 5px;
  padding-top:8px;
  border-bottom: 1px solid @borderColor;
  margin-bottom: 5px;
}

#niusb-kefu .tp .tit {
  float: left;
  font-size: 14px;
}

#niusb-kefu .tp .tag {
  float: right
}

.tel {
  background: url("/img/tel.png") repeat scroll 0 0 transparent;
  display: inline-block;
  height: 24px;
  width: 143px;
  margin-bottom: 2px;
  text-indent: -9999px;
}

#niusb-kefu li {
  float: left;
  padding: 5px 20px 0 0;
}

#niusb-kefu li .qq {
  padding-left: 5px;
  color: #999;
}

.txt-gray {
  float: left;
  color: #999;
}

.weixin {
  float: left;
  //background: url("/img/sprite.png") no-repeat scroll -165px -19px transparent;
  background-position: -165px -19px;
  display: block;
  width: 21px;
  height: 20px;
  position: relative;
}

.weixin:hover .weixin-pop {
  background: url("/img/sprite.png") no-repeat scroll -195px 0 transparent;
  //background-position: 0 -40px;
  bottom: 22px;
  display: block;
  height: 261px;
  left: -105px;
  position: absolute;
  width: 211px;
  z-index: 3;
}

#big-brand-type-list li {
  float: left;
  width: 130px;
  height: 28px;
  line-height: 25px;
}

#brand-type-list {
  border-bottom: 1px dotted #DDDDDD;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

#brand-type-list h3 {
  padding-bottom: 10px;
  border-bottom: 1px dotted #DDDDDD;
  margin-bottom: 10px;
  color: #666;
}

#brand-type-list h3 a {
  font-weight: normal;
}

#brand-type-list li {
  float: left;
  width: 96px;
  height: 26px;
}

#order-type-list dt {
  float: left;
}

#order-type-list dd {
  float: left;
  height: 25px;
  margin-right: 15px;
}

#brand-type-list li a, #order-type-list a {
  padding: 2px 5px;
  color: #666666;
}

#brand-type-list li a.active, #order-type-list a.active {
  color: #FFF;
  background-color: #E13335
}

#brand-faq dt {
  font-size: 16px;
  padding: 5px 0;
  color: #666;
}

#brand-faq dd {
  font-size: 14px;
  line-height: 28px;
}

#brand-step dt {
  padding: 5px 0;
  color: #666;
}

#brand-step dd {
  font-size: 14px;
  color: #666;
  line-height: 25px;
}

.mpanel .panel-heading {
  font-size: 16px;
  font-weight: bold;
}

.mpanel .panel-heading .tags {
  font-size: 14px;
  font-weight: normal;
}

.mpanel .panel-heading .tags span {
  padding-left: 10px;
}

#jumbotron-box h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

#jumbotron-box p {
  padding: 5px 0;
}

#view-brand-type-list li {
  float: left;
  width: 85px;
  height: 28px;
}

.viewCount i,.followCount i{
  font-size:13px;
}

.viewCount em,.followCount em{
  padding-left:5px;
  font-size:13px;
  font-weight:normal;
}

.brand-ads li{
	padding-bottom:20px;
}

.downfile-box{
	margin-top:10px;
	padding-top:8px;
	border-top: 1px dotted #DDDDDD;
}

.downfile-box li{
	font-size:16px;
}