.form-actions {
	background-color: #F5F5F5;
	border-top: 1px solid #E5E5E5;
	margin: 0;
	padding: 19px 20px 20px;
}

.form-actions:before,.form-actions:after {
	content: "";
	display: table;
	line-height: 0;
}

.form-actions:after {
	clear: both;
}

.btn-primary {
	background-color: #006DCC;
	background-image: -moz-linear-gradient(center top, #67C2EF, #2FABE9);
	background-repeat: repeat-x;
	border-color: #1598D9 #1598D9 #007BB8;
	color: #FFFFFF;
}

.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled] {
	background-color: #2FABE9;
}

.btn-primary:active,.btn-primary.active {
	
}

.btn-warning {
	background-color: #FAA732;
	background-image: -moz-linear-gradient(center top, #FABB3D, #F4A506);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
}

.btn-warning:hover,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled] {
	background-color: #F4A506;
}

.btn-warning:active,.btn-warning.active {
	
}

.btn-danger {
	background-color: #DA4F49;
	background-image: -moz-linear-gradient(center top, #FA603D, #F1360A);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
}

.btn-danger:hover,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled] {
	background-color: #F1360A;
}

.btn-danger:active,.btn-danger.active {
	
}

.btn-success {
	background-color: #5BB75B;
	background-image: -moz-linear-gradient(center top, #78CD51, #5AAD34);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
}

.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled] {
	background-color: #5AAD34;
}

.btn-success:active,.btn-success.active {
	
}

.btn-info {
	background-color: #49AFCD;
	background-image: -moz-linear-gradient(center top, #5BC0DE, #2F96B4);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
}

.btn-info:hover,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled] {
	background-color: #2F96B4;
}

.btn-info:active,.btn-info.active {
	
}

.btn-inverse {
	background-color: #363636;
	background-image: -moz-linear-gradient(center top, #444444, #222222);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
}

.btn-inverse:hover,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled] {
	background-color: #222222;
	color: #FFFFFF;
}

.btn-inverse:active,.btn-inverse.active {
	
}

.alert {
	box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 15px;
	padding: 14px 40px 14px 18px;
	position: relative;
}

.alert.alert-success {
	background-color: #EDF6E5 !important;
	border: 1px solid #9FC76F !important;
	color: #7A9659 !important;
}

.alert.alert-error {
	background-color: #FDEAEA !important;
	border: 1px solid #F27B81 !important;
	color: #CA6F74 !important;
}

.alert {
	background-color: #FFFEE1 !important;
	border: 1px solid #F5C056 !important;
	color: #DAAC50 !important;
}

.alert.alert-info {
	background-color: #E9F8FF !important;
	border: 1px solid #75C7D3 !important;
	color: #5D9FA9 !important;
}

.g-right {
	width: 350px;
	position: relative;
	float: right;
	margin-left: -350px;
}

.g-left {
	float: left;
	width: 100%;
}

.g-left-c {
	margin-right: 360px;
}