/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,menu {
	margin: 0;
	padding: 0;
}

header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,th {
	text-align: left;
	font-weight: normal;
}

html,body,fieldset,img,iframe,abbr {
	border: 0;
}

i,cite,em,var,address,dfn {
	font-style: normal;
}

[hidefocus],summary {
	outline: 0;
}

li {
	list-style: none;
}

h1,h2,h3,h4,h5,h6,small {
	font-size: 100%;
}

sup,sub {
	font-size: 83%;
}

pre,code,kbd,samp {
	font-family: inherit;
}

q:before,q:after {
	content: none;
}

textarea {
	overflow: auto;
	resize: none;
}

label,summary {
	cursor: default;
}

a,button {
	cursor: pointer;
}

h1,h2,h3,h4,h5,h6,em,strong,b {
	font-weight: bold;
}

del,ins,u,s,a,a:hover {
	text-decoration: none;
}

body,textarea,input,button,select,keygen,legend {
	font: 12px/1.14 tahoma, arial, "Hiragino Sans GB", "Microsoft Yahei", \5b8b\4f53;
	color: #333;
	outline: 0;
}

body {
	background: #fff;
}

a,a:hover {
	color: #333;
}

/* Remove dotted outline from all links */
a {
	outline: 0;
}

.no-padding {
	padding: 0;
	margin: 0
}

body {
	font-size: 13px;
	line-height: 18px;
	padding-top: 60px;
}

.ui-box {
	margin-top: 20px;
	position: relative;
	background: #fff;
	border: 1px solid #ececec;
	zoom: 1;
}

.ui-box .ui-box-content {
	padding: 5px;
}

.ui-box .ui-boxbg {
	position: relative;
	width: 960px;
	height: 2px;
	margin-left: -1px;
	overflow: hidden;
	background: url(../img/bg-box.png) no-repeat 0 0;
}

.box-small {
	text-align: center;
	position: relative;
	display: block;
	margin: 20px;
}

.box-small-link {
	border: 1px solid #ddd;
	margin-bottom: -1px;
	padding: 30px 0px;
	font-size: 26px;
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top, #fafafa, #efefef);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
	background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
	background-image: -o-linear-gradient(top, #fafafa, #efefef);
	background-image: linear-gradient(to bottom, #fafafa, #efefef);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	display: block;
	color: #646464;
	text-shadow: 0px 1px 1px #fff;
}

.box-small-link:hover {
	border: 1px solid #3c4049;
	margin-bottom: -1px;
	padding: 30px 0px;
	color: #fff;
	background-color: #4e525d;
	background-image: -moz-linear-gradient(top, #4e525d, #3c4049);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e525d), to(#3c4049));
	background-image: -webkit-linear-gradient(top, #4e525d, #3c4049);
	background-image: -o-linear-gradient(top, #4e525d, #3c4049);
	background-image: linear-gradient(to bottom, #4e525d, #3c4049);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#4e525d', endColorstr='#3c4049', GradientType=0);
	text-shadow: 0px 1px 1px #000;
	text-decoration: none;
}

.box-small-title {
	text-align: center;
	margin: 10px auto;
	font-size: 16px;
	color: #aaa;
	text-shadow: 0px 1px 1px #fff;
}

.box {
	margin-bottom: 20px;
}

.box-header {
	height: 15px;
	border: 1px solid #ddd;
	margin-bottom: -1px;
	padding: 10px;
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top, #fafafa, #efefef);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
	background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
	background-image: -o-linear-gradient(top, #fafafa, #efefef);
	background-image: linear-gradient(to bottom, #fafafa, #efefef);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 2px 2px 0px 0px;
	-moz-border-radius: 2px 2px 0px 0px;
	border-radius: 2px 2px 0px 0px;
	overflow: hidden;
}

.box-header h2 {
	font-size: 14px;
	line-height: 14px;
	float: left;
	margin-top: 2px;
	color: #646464;
	font-weight: normal;
	text-shadow: 0px 1px 0px #fff;
}

.box-header h2 i {
	margin: 1px 3px 0px 5px;
	opacity: .4;
}

.box-header .break {
	border-left: 1px solid #fcfcfc;
	border-right: 1px solid #ddd;
	margin: -12px 10px -10px 10px;
	padding: 12px 0px 10px 0px;
}

.box-header .box-icon {
	float: right;
	margin-top: 1px;
}

.box-header .box-icon i {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	opacity: .4;
}

.box-header .box-icon i:hover {
	opacity: .8;
}

.box-header .box-icon a {
	margin: 0px 5px;
}

.box-content {
	padding-top: 10px;
}

.no-box-header {
	border: 1px solid #ddd;
	margin-top: 1px;
}

/* Forms
=================================================================== */
.form-actions {
	margin: 20px -10px -10px -10px;
	background-color: #f5f5f5;
	border-top: 1px solid #e5e5e5;
	*zoom: 1;
}

.form-actions:before,.form-actions:after {
	display: table;
	line-height: 0;
	content: "";
}

.form-actions:after {
	clear: both;
}

.form-horizontal .form-actions {
	padding-left: 190px;
}

.nav-tabs>.active>a,.nav-tabs>.active>a:hover {
	outline: 0;
}

/* Sidenav for Docs
-------------------------------------------------- */
.bs-sidenav {
	margin: 0;
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}

.bs-sidenav>li>a {
	display: block;
	width: 190px;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #e5e5e5;
}

.bs-sidenav>li:first-child>a {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.bs-sidenav>li:last-child>a {
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

.bs-sidenav>.active>a {
	position: relative;
	z-index: 2;
	padding: 9px 15px;
	border: 0;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
	-webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
}

/*------------------------------------*\
	Light Theme Styles
\*------------------------------------*/
.light-theme {
	display: block;
	overflow: hidden;
	padding: 0 5px 5px 0;
}

.light-theme a,.light-theme span {
	float: left;
	color: #666;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #BBB;
	min-width: 14px;
	padding: 0 7px;
	margin: 0 5px 0 0;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #efefef 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #efefef 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%, #efefef 100%); /* W3C */
}

.light-theme a:hover {
	text-decoration: none;
	background: #FCFCFC;
}

.light-theme .current {
	background: #666;
	color: #FFF;
	border-color: #444;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
	cursor: default;
}

.light-theme .ellipse {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	font-weight: bold;
	cursor: default;
}

.label {
	background-color: #ABBAC3 !important;
	border-radius: 0 0 0 0;
	font-size: 11px;
	font-weight: normal;
	padding: 1px 5px 3px;
	text-shadow: none;
}

.label[class*="span"][class*="arrow"] {
	min-height: 0;
}

.badge {
	background-color: #ABBAC3 !important;
	font-size: 12px;
	font-weight: normal;
	line-height: 15px;
	padding-bottom: 3px;
	padding-top: 3px;
	text-shadow: none;
}

.label-transparent,.badge-transparent {
	background-color: transparent !important;
}

.label-grey,.badge-grey {
	background-color: #A0A0A0 !important;
}

.label-info,.badge-info {
	background-color: #3A87AD !important;
}

.label-primary,.badge-primary {
	background-color: #2283C5 !important;
}

.label-success,.badge-success {
	background-color: #82AF6F !important;
}

.label-important,.badge-important {
	background-color: #D15B47 !important;
}

.label-inverse,.badge-inverse {
	background-color: #333333 !important;
}

.label-warning,.badge-warning {
	background-color: #F89406 !important;
}

.label-pink,.badge-pink {
	background-color: #D6487E !important;
}

.label-purple,.badge-purple {
	background-color: #9585BF !important;
}

.label-yellow,.badge-yellow {
	background-color: #FEE188 !important;
}

.label-light,.badge-light {
	background-color: #E7E7E7 !important;
}

.badge-yellow,.label-yellow {
	border-color: #FEE188;
	color: #996633 !important;
}

.badge-light,.label-light {
	color: #888888 !important;
}

.label.arrowed,.label.arrowed-in {
	margin-left: 9px;
	position: relative;
}

.label.arrowed:before,.label.arrowed-in:before {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: transparent #ABBAC3 transparent transparent;
	border-image: none;
	border-style: solid;
	border-width: 9px 7px;
	content: "";
	display: inline-block;
	left: -14px;
	position: absolute;
	top: 0;
}

.label.arrowed-in:before {
	border-bottom-color: #ABBAC3;
	border-left-color: transparent !important;
	border-right-color: #ABBAC3;
	border-top-color: #ABBAC3;
	left: -9px;
}

.label.arrowed-right,.label.arrowed-in-right {
	margin-right: 9px;
	position: relative;
}

.label.arrowed-right:after,.label.arrowed-in-right:after {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: transparent transparent transparent #ABBAC3;
	border-image: none;
	border-style: solid;
	border-width: 9px 7px;
	content: "";
	display: inline-block;
	position: absolute;
	right: -14px;
	top: 0;
}

.label.arrowed-in-right:after {
	border-bottom-color: #ABBAC3;
	border-left-color: #ABBAC3;
	border-right-color: transparent !important;
	border-top-color: #ABBAC3;
	right: -9px;
}

.label-info.arrowed:before {
	border-right-color: #3A87AD;
}

.label-info.arrowed-in:before {
	border-color: #3A87AD;
}

.label-info.arrowed-right:after {
	border-left-color: #3A87AD;
}

.label-info.arrowed-in-right:after {
	border-color: #3A87AD;
}

.label-primary.arrowed:before {
	border-right-color: #2283C5;
}

.label-primary.arrowed-in:before {
	border-color: #2283C5;
}

.label-primary.arrowed-right:after {
	border-left-color: #2283C5;
}

.label-primary.arrowed-in-right:after {
	border-color: #2283C5;
}

.label-success.arrowed:before {
	border-right-color: #82AF6F;
}

.label-success.arrowed-in:before {
	border-color: #82AF6F;
}

.label-success.arrowed-right:after {
	border-left-color: #82AF6F;
}

.label-success.arrowed-in-right:after {
	border-color: #82AF6F;
}

.label-warning.arrowed:before {
	border-right-color: #F89406;
}

.label-warning.arrowed-in:before {
	border-color: #F89406;
}

.label-warning.arrowed-right:after {
	border-left-color: #F89406;
}

.label-warning.arrowed-in-right:after {
	border-color: #F89406;
}

.label-important.arrowed:before {
	border-right-color: #D15B47;
}

.label-important.arrowed-in:before {
	border-color: #D15B47;
}

.label-important.arrowed-right:after {
	border-left-color: #D15B47;
}

.label-important.arrowed-in-right:after {
	border-color: #D15B47;
}

.label-inverse.arrowed:before {
	border-right-color: #333333;
}

.label-inverse.arrowed-in:before {
	border-color: #333333;
}

.label-inverse.arrowed-right:after {
	border-left-color: #333333;
}

.label-inverse.arrowed-in-right:after {
	border-color: #333333;
}

.label-pink.arrowed:before {
	border-right-color: #D6487E;
}

.label-pink.arrowed-in:before {
	border-color: #D6487E;
}

.label-pink.arrowed-right:after {
	border-left-color: #D6487E;
}

.label-pink.arrowed-in-right:after {
	border-color: #D6487E;
}

.label-purple.arrowed:before {
	border-right-color: #9585BF;
}

.label-purple.arrowed-in:before {
	border-color: #9585BF;
}

.label-purple.arrowed-right:after {
	border-left-color: #9585BF;
}

.label-purple.arrowed-in-right:after {
	border-color: #9585BF;
}

.label-yellow.arrowed:before {
	border-right-color: #FEE188;
}

.label-yellow.arrowed-in:before {
	border-color: #FEE188;
}

.label-yellow.arrowed-right:after {
	border-left-color: #FEE188;
}

.label-yellow.arrowed-in-right:after {
	border-color: #FEE188;
}

.label-light.arrowed:before {
	border-right-color: #E7E7E7;
}

.label-light.arrowed-in:before {
	border-color: #E7E7E7;
}

.label-light.arrowed-right:after {
	border-left-color: #E7E7E7;
}

.label-light.arrowed-in-right:after {
	border-color: #E7E7E7;
}

.label-grey.arrowed:before {
	border-right-color: #A0A0A0;
}

.label-grey.arrowed-in:before {
	border-color: #A0A0A0;
}

.label-grey.arrowed-right:after {
	border-left-color: #A0A0A0;
}

.label-grey.arrowed-in-right:after {
	border-color: #A0A0A0;
}

.label-large {
	font-size: 13px;
	padding: 3px 8px 5px;
}

.label-large.arrowed,.label-large.arrowed-in {
	margin-left: 12px;
}

.label-large.arrowed:before,.label-large.arrowed-in:before {
	border-width: 11px 8px;
	left: -16px;
}

.label-large.arrowed-in:before {
	left: -12px;
}

.label-large.arrowed-right,.label-large.arrowed-in-right {
	margin-right: 11px;
}

.label-large.arrowed-right:after,.label-large.arrowed-in-right:after {
	border-width: 11px 8px;
	right: -16px;
}

.label-large.arrowed-in-right:after {
	right: -12px;
}

.table th,.table td {
	border-top: 1px solid #DDDDDD;
	line-height: 20px;
	padding: 5px;
	text-align: left;
	vertical-align: middle;
}

.table th {
	padding: 8px 5px;
}

th,td,.table-bordered {
	border-radius: 0 0 0 0 !important;
}

.table thead:first-child tr {
	background: linear-gradient(to bottom, #F8F8F8, #ECECEC) repeat-x scroll 0 0 #F3F3F3;
	color: #707070;
	font-weight: normal;
}

.table thead:first-child tr th {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #DDDDDD;
	border-image: none;
	border-style: solid;
	border-width: 0 1px;
	font-weight: bold;
}

.table thead:first-child tr th [class*="icon-"]:first-child {
	margin-right: 2px;
}

.table thead:first-child tr th:first-child {
	border-left-color: #F1F1F1;
}

.table.table-bordered thead:first-child tr th {
	border-color: #DDDDDD;
	border-width: 0 0 0 1px;
	vertical-align: middle;
}

.table.table-bordered thead:first-child tr th:first-child {
	border-left-color: #DDDDDD;
}

.table.table-hover tbody tr:hover td {
	background-color: #F1F1F1;
}

th.center,td.center {
	text-align: center;
}

th .lbl,td .lbl {
	margin-bottom: 0;
}

th .lbl:only-child,td .lbl:only-child {
	vertical-align: top;
}

.dropdown-menu .divider {
	margin: 2px 1px;
}

.search-form {
	margin-bottom: 10px;
}

.imagePreview {
	background: #FFF;
}

.imagePreview.original {
	width: 400px;
	height: 300px;
}

.imagePreview.x320 {
	width: 320px;
	height: 200px;
}

.imagePreview.x120 {
	margin-top: 15px;
	width: 120px;
	height: 75px;
}

.jcrop img {
	max-width: none
}

.no-margin-top {
	margin-top: 0
}

.no-margin {
	margin: 0
}
