.g-hd {
	position: relative;
	z-index: 99;
	height: 70px;
	background: #ee472c
}

.g-bd {
	padding-top: 20px;
}

.g-doc {
	width: 960px;
	height: 100%;
	margin: 0 auto;
	text-align: left
}

.g-ft {
	height: 220px;
	margin-top: 45px;
	background: #ececec
}

.m-hd {
	position: relative;
	height: 100%
}

.m-hd .u-logo {
	position: absolute;
	top: 16px;
	left: -13px
}

.m-hd .m-nav {
	position: absolute;
	top: 29px;
	left: 150px
}

.m-nav {
	height: 41px
}

.m-nav ul {
	float: left;
	display: inline
}

.m-nav li {
	float: left;
	height: 41px
}

.m-nav .nav {
	display: inline-block;
	height: 28px;
	font-weight: 400;
	line-height: 28px;
	padding: 0 10px;
	font-size: 16px;
	color: #fff
}

.m-nav .nav:hover {
	text-decoration: none;
	color: #fad7d7
}

.m-nav .u-ico1-1 {
	display: inline-block;
	width: 1px;
	height: 18px;
	font-size: 0;
	margin: 5px 5px 0 5px;
	background-position: -150px -100px
}

.m-nav .nav-slt {
	background: #d32e00
}

.m-nav .nav-slt:hover {
	color: #fff
}

.m-nav .nav-ico {
	position: relative;
	padding-right: 23px
}

.m-nav .u-ico {
	position: absolute;
	top: 15px;
	right: 10px
}

.u-logo {
	background: url(../img/sprite.png) no-repeat 0 -220px;
	text-indent: -20000px;
	overflow: hidden;
	display: block;
	width: 156px;
	height: 54px;
}


.m-pop .arrow,.u-ico,.m-search,.m-search .ipt,.m-search .sbtn,.m-gotop .gotop,.m-gotop .comment,.m-more a,.m-more .arrow,.u-ico1-1,.m-message,.m-message .msgnum,.m-message .msgnums {
	background: url(../img/sprite.png) no-repeat -9999px -9999px
}

.m-nav .u-ico1-1 {
	display: inline-block;
	width: 1px;
	height: 18px;
	font-size: 0;
	margin: 5px 5px 0 5px;
	background-position: -150px -100px
}

.ui-box {
	margin-top: 20px;
	position: relative;
	background: #fff;
	border: 1px solid #ececec;
	zoom: 1;
}

.ui-box .ui-box-content{
	padding:5px;
}

.ui-box .ui-boxbg {
	position: relative;
	width: 960px;
	height: 2px;
	margin-left: -1px;
	overflow: hidden;
	background: url(../img/bg-box.png) no-repeat 0 0;
}
